@media (min-width: 360px){

*{
    margin: 0px;
    padding: 0px;
}

#titulo{
    font-family: 'Raleway', sans-serif;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    margin-top:10%;
    

}   


.iconosH{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 10px;
    
}

.iconH{
    color: white;
    font-size: 20px;
    margin-right: 10px;
    
}
.welcome{
         font-weight: bolder;
         color: yellow;

}

body{
    background-image: url(../img/welcome.jpeg);
    background-size: 100;
    background-repeat: no-repeat;
    background-position: center;
    height:50vh;
}

.iconos{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 70px;
}

.icon{
    color:white;
    font-size: 50px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton{
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:#000000;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right: 40px;
        background-color: transparent;
        
        
}

.boton:hover{
    background-color: rgba(206, 23, 23, 0.74);
}

a{
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}


.footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

p{
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: bolder;
    

}


@media (min-width: 720px){

    body{
        background-image: url(../img/welcome.jpeg);
        background-repeat: no-repeat;    
    }


    .footer{
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
    }   

    p{
        color: white;
        font-family:'Raleway', sans-serif;
        font-weight: bolder;
        
    }


   
    
    

    .iconH{
    color: white;
    font-size: 30px;
    
    
    }




}

@media (min-width: 1200px){
    
    #titulo{
        font-family: 'Raleway', sans-serif;
        color: white;
        display:flex;
        flex-direction: row;
        justify-content: center;
        font-size: 70px;
        margin-top:2%;
        
    
    }   

    .footer{
        margin-top: 300px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
    }   

    p{
        color: white;
        font-family:'Raleway', sans-serif;
        font-weight: bolder;
        font-size: 1em;
        
    }

}

}