@media (min-width: 360px){

#titulo{
    font-family: 'Raleway', sans-serif;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    

}   

.welcome{
         font-weight: bolder;
         color: yellow;

}

body{
    background-image: url(../img/welcome.jpeg);
    background-size: 100;
    background-repeat: no-repeat;
    background-position: center;
    height:50vh;
}

.iconos{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 70px;
}

.icon{
    color:white;
    font-size: 50px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton{
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:#000000;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        background-color: transparent;
        
        
}

.boton:hover{
    background-color: rgba(206, 23, 23, 0.74);
}

a{
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}
