body{
    width: 100%;
    display: flex;
    flex-direction: row;

    
    
}

.container1{
        width:100%;
}



#fondo1{
   width:100%;
   background-image: url("../img/host.jpeg");
   height:600px;
   background-clip:content-box
   background-repeat: no-repeat;

}

.container2{
    width:100%;
    
}
#fondo2{
    background-image: url("../img/Helper.jpeg");
    width:100%;
    height:600px;
    background-clip: content-box;
    background-repeat: no-repeat;

}
   


 
